################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prelim-exam-robel-andrei/bin/Debug/netcoreapp3.1
